@mixin bg-cover($pos:center) {
    background-size: cover;
    background-position: $pos;
}

@mixin transition($duration: .3s) {
    transition: all ease-in-out $duration;
}

@mixin lato-reg($size: 15px, $color: $darkgray) {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: $size;
    color: $color;
}

@mixin ssp-reg($size: 15px, $color: $darkgray) {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    font-size: $size;
    color: $color;
}

@mixin ssp-semi($size: 15px, $color: $darkgray) {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 600;
    font-size: $size;
    color: $color;
}

@mixin btn-link($bg: $darkgray) {
    padding: 9px 22px;
    background-color: $bg;
}